<title>{{ with .Title }}{{ . }} &ndash; {{end}}{{ .Site.Title }}</title>
{{ with .Site.Params.about }}<meta name="description" content="{{ .description }}">{{ end }}

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8"/>
{{ if .Site.Params.noindex }}<meta name="robots" content="noindex" /> {{ end }}

<link rel="stylesheet" type="text/css" href="/css/style.css">

<meta property="og:type" content="website"/>
<meta property="description" content="mulling(4)"/>
<meta property="og:title" content="mulling(4)"/>
<meta property="og:image" content="/assets/tuna.png"/>
<meta property="og:description" content="Kernel hacking for fun"/>
<meta property="og:url" content="mulling.github.io"/>
