<title>{{ with .Title }}{{ . }} &ndash; {{end}}{{ .Site.Title }}</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8"/>
{{ if .Site.Params.noindex }}<meta name="robots" content="noindex" /> {{ end }}

<link rel="stylesheet" type="text/css" href="/css/style.css">

<!-- Google / Search Engine Tags -->
<meta itemprop="image" content="{{ .Site.BaseURL }}assets/tuna.png">
<meta name="description" content="{{ .Description }}">
<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://mulling.github.io">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ with .Title }}{{ . }} &ndash; {{end}}{{ .Site.Title }}">
<meta property="og:description" content="{{ .Description }}">
<meta property="og:image" content="assets/tuna.png">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ with .Title }}{{ . }} &ndash; {{end}}{{ .Site.Title }}">
<meta name="twitter:description" content="{{ .Description }}">
<meta name="twitter:image" content="assets/tuna.png">
