<!DOCTYPE html>
<html lang="{{- site.Language.Lang -}}">
    <head>
        {{- partial "head.html" . -}}
    </head>
    <body>
        <header>
            {{- partial "header.html" . -}}
        </header>
        <section>
            {{- block "main" . }}{{- end }}
        </section>
        <footer>
            <div class="title">
                <span class="title">
                    SEE ALSO
                </span>
                <div class="sub-title">
                    <p>
                    {{ $currentPage := . }}
                    {{ range .Site.Menus.main }}
                        <a class="nav-main-item{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) (eq ($currentPage.Permalink) (.URL | absLangURL)) }} active{{end}}" href="{{ .URL | absLangURL }}" title="{{ .Title }}">{{ .Name }}</a>
                    {{ end }}
                    </p>
                </div>
            </div>
            <div class="footer">
                <span class=tail>{{ page.Title }}</span>
                <span class=tail>{{ page.Date.Format "2006 January 2" }}</span>
                <span><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></span>
            </div>
        </footer>
    </body>
</html>
