{{ define "main" }}
<div class="title">
    <span class="title">
        NAME
    </span>
    <div class="sub-title">
        <p>
        {{ .Title }} - {{ .Description }}
        </p>
    </div>
</div>
<div class="title">
    <span class="title">
        DESCRIPTION
    </span>
    <div class="sub-title">
        <p>
            {{ .Content }}
        </p>
        {{ range .Pages }}
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        <div class="sub-sub-title">
            {{ .Description }}
        </div>
        <br>
        {{ end }}
    </div>
</div>
{{ end }}
